@model IEnumerable<BookProject.Models.Models.Category>
@{
    ViewData["Title"] = "All Categories";
}

<h1>Index</h1>
@*<p>@ViewBag.MyName</p>
<h3>@ViewData["Data"]</h3>*@

@*@foreach(var v in ViewBag.AllCat)
{
    <p>@v.CategoryName</p>
}*@

<partial name="_AlertPartial"/>
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Category List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Categories" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus"></i>CreateCategory</a>
        </div>
    </div>

</div>
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
             <th>
                 Category Name
             </th>
             <th>
                 Display Order
             </th>
             <th>
                Created Date
             </th>
           
        </tr>       
    </thead>
    <tbody>
        @foreach(var c in Model)
        {
            <tr>
                <td><a asp-controller="Categories" asp-action="Details"
                    asp-route-id="@c.Id">@c.CategoryName</a></td>
                <td>@c.DisplayOrder</td>
                <td>@c.CreateDateTime</td>
                @*<td><a class="btn btn-primary" asp-controller="Categories" asp-action="Edit"><i class="bi bi-pencil"></i>Edit</a></td>
                <td><a class="btn btn-outline-danger" asp-controller="Categories" asp-action="Delete"><i class="bi bi-trash"></i>Delete</a></td>*@

                <td>
                    <div class="btn-group m-75" role="group">
                        <a class="btn btn-primary" asp-controller="Categories"
                        asp-action="Edit" asp-route-id="@c.Id">
                               <i class="bi bi-pencil"></i>Edit</a>
                        <a class="btn btn-outline-danger" asp-controller="Categories" 
                        asp-action="Delete" asp-route-id="@c.Id">
                          <i class="bi bi-trash"></i>Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
    
</table>


