@model IEnumerable<BookProject.Models.Models.Book>
@{
    ViewData["Title"] = "All Books";
}

<h1>Index</h1>
@*<p>@ViewBag.MyName</p>
<h3>@ViewData["Data"]</h3>*@

@*@foreach(var v in ViewBag.AllCat)
{
    <p>@v.CategoryName</p>
}*@

<partial name="_AlertPartial"/>
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">All Books</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Book" asp-action="InsertUpt" class="btn btn-primary"><i class="bi bi-plus"></i>CreateNewBook</a>
        </div>
    </div>



<table id="tblData" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
             <th>
                Book Title
             </th>
             <th>Description</th>
             <th>
                 Price
             </th>
            <th>Category</th>
                
           
           
        </tr>       
    </thead>
    @*<tbody>
        @foreach(var c in Model)
        {
            <tr>
                <td><a asp-controller="Categories" asp-action="Details"
                    asp-route-id="@c.Id">@c.CategoryName</a></td>
                <td>@c.DisplayOrder</td>
                <td>@c.CreateDateTime</td>
                

                <td>
                    <div class="btn-group m-75" role="group">
                        <a class="btn btn-primary" asp-controller="Categories"
                        asp-action="Edit" asp-route-id="@c.Id">
                               <i class="bi bi-pencil"></i>Edit</a>
                        <a class="btn btn-outline-danger" asp-controller="Categories" 
                        asp-action="Delete" asp-route-id="@c.Id">
                          <i class="bi bi-trash"></i>Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>*@
    
</table>
</div>

@section Scripts{
    <script src="/js/book.js"></script>
}


